@{
    Layout = @"_layout.cshtml";
}
@inherits StatiqRazorPage<IDocument>

<div>
    <div>
        <div class="font-bold text-primary-700/90 dark:text-primary-500/90 text-3xl lg:font-extrabold lg:text-3xl">
            What is this?
        </div>
        <div class="prose dark:prose-invert mt-8 lg:prose-lg max-w-full font-light lg:leading-loose">
            This is my blog, where I write about stuff that interests me such as <i>.NET</i>, <i>Rust</i>, <i>DevOps</i>, and technology in general.
        </div>
    </div>

    <div class="py-6">
        <div class="font-bold text-primary-700/90 dark:text-primary-500/90 text-3xl lg:font-extrabold lg:text-3xl">
            Who am I?
        </div>

        <div class="prose dark:prose-invert mt-8 lg:prose-lg max-w-full font-light lg:leading-loose">
            My name is Patrik. I am a husband and a father, and I enjoy contributing to Open Source projects, such as 
            <a href="https://cakebuild.net">Cake</a> 
            which I founded back in 2014, and 
            <a href="https://spectreconsole.net">Spectre.Console</a>.
        </div>

        <div class="prose dark:prose-invert mt-8 lg:prose-lg max-w-full font-light lg:leading-loose">
            I'm a <a href="https://mvp.microsoft.com/en-us/PublicProfile/5003157?fullName=Patrik%20Svensson">Microsoft MVP</a> in the Developer Technologies category, and a 
            <a href="https://stars.github.com/profiles/patriksvensson/">GitHub Star</a>.
        </div>
    </div>
</div>