@page
@model SocialCardModel

@{
    Layout = null;
}
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;800&display=swap" rel="stylesheet">
  
  <style>
      html {
        font-family: Montserrat;
        font-size: calc(100vw / 100);
      }

      #container {
        color: rgba(255,255,255,.95);
        background-color: #0F172A;
        
        background-image:     
          radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5)),
          linear-gradient(rgba(255,255,255,.05) 2px, transparent 2px),
          linear-gradient(90deg, rgba(255,255,255,.05) 2px, transparent 2px),
          linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
          linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px)    
          ;
          
        background-size: 100% 100%, 100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-position:0 0,-2px -2px, -2px -2px, -1px -1px, -1px -1px;    
        
        height: calc(100vw / 1.91);
        width: 100vw;
        
        display: grid; 
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
        grid-template-areas: 
          "title image"
          "desc desc";
      }

      heading{
        grid-area: title;
        margin: 4rem 0 0 4rem
      }

      footer{
        margin: 0 0 4rem 4rem;
        grid-area: desc;
        display: flex;
      }

      footer ul {
        align-self: flex-end;
        list-style: none;  
        padding: 0;
        margin: 0;
      }

      footer ul li {
        display: inline-block;
        font-size: 2rem;
        padding:.5rem 1rem;
        margin-right: 1rem;
        font-weight:300;
        border: .2rem solid rgba(255,255,255,.3);
        border-radius: 1rem;
        background-color: rgba(128,128,255,.15);
      }

      heading h1 {
        font-size: 6rem;
        line-height: 1;
        margin:0;
      }

      heading #desc {
        margin:2rem 0 0 0;
        font-size:4rem;
        font-weight:300;
      }

      #image{
        grid-area: image;
        position: relative;
      }

      svg {
        height:50%;
        position: absolute;
        top: 2.5rem;
        right: 4rem;
      }
  </style>
</head>
<body>
  <div id="container">
      <heading>
          <h1>@Model.Title</h1>
          <p id="desc">@Model.Description</p>
      </heading>
      <footer>
          <ul>
              @{ var tags = Model.Tags?.Split(";") ?? Array.Empty<string>(); }
              @foreach (var tag in tags)
              {
                <li>@tag</li>
              }
          </ul>
      </footer>
    <div id="image">
       <img src="/assets/images/avatar.png" width="400" height="400" style="position: absolute;top: 3rem;right: 0rem;" />
    </div>
  </div>
</body>

</html>