.title {
    color: #000000;
}

.description {
    color: #AAAAAA;
}

blockquote p {
    margin: 0 0 0 0;
}

.list-unstyled {
    list-style-type: none; 
    padding: 0px;
}

.list-unstyled > li {
    padding: 0px;
}

.no-link-underline {
    border-bottom: none;
}