@layout ContentWithProseLayout
@page "/about"
@using MyLittleContentEngine.BlogSite.Components.Layout

<h1>What is this?</h1>
<p class="mb-4">This is my blog, where I write about stuff that interests me such as .NET, Rust, Swift, DevOps, and
    technology in general.</p>

<h1>Who am I?</h1>
<p class="mb-4">My name is Patrik. I am a husband and a father, and I enjoy contributing to Open Source projects, such
    as <a href="https://cakebuild.net">Cake</a> which I founded back in 2014, and
    <a href="https://spectreconsole.net">Spectre.Console</a> which I founded back in 2020. I'm also the author of
    the original <a href="https://opencli.org">OpenCLI specification</a>.</p>

<h1>Awards</h1>
<p class="mb-4">
    <b>
        My work in the developer community has been recognized with eight Microsoft MVP awards and three GitHub Star
        awards.
    </b>
    My open source projects are used by organizations such as Microsoft, Amazon, IBM, NASA, and GitHub.
</p>

@code {

}